@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-image: url("../../static/img/background1.jpg");

    font-family: 'Lobster', cursive;
}
a{
    text-decoration: none;
    color: #022b77;
}
input{
    width: 15%;
    border-radius: 20px;
}

